
<css href="/Public/Lib/bootstrap-datepicker-1.7.1/css/bootstrap-datepicker3.min.css" />
<css href="/Public/Lib/tiptip-1.3/tipTip.css" />

<div class="header">
    <h1 class="page-header">玩法统计 </h1>
    <ul class="nav nav-tabs">
        <foreach name="tabsMap" item="v">
            <eq name="v.active" value="1">
                <li class="active" role="presentation">
                    <a href="{$v['uri']}">{$v.name}</a>
                </li>
            <else />
                <li role="presentation">
                    <a href="{$v['uri']}">{$v.name}</a>
                </li>
            </eq>
        </foreach>
    </ul>
</div>
<div id="page-inner">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="get" action="/Stat/gameRoom/tabs/number">
                        <!-- 第一行 -->
                        <div class="form-group has-feedback">
                            <!-- 房间类型-->
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">房间类型</div>
                                    <select class="form-control" id="roomType" name="room_type">
                                        <option value="0">全部</option>
                                        <foreach name="roomTypeMap" item="v">
                                            <option value="{$key}">{$v}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <!-- 开始日期 -->
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">开始日期</div>
                                    <input class="form-control" id="startDate" name="start_date" type="text" readonly />
                                </div>
                                <span class="form-control-feedback glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>
                            <!-- 结束日期 -->
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">结束日期</div>
                                    <input class="form-control" id="endDate" name="end_date" type="text" readonly />
                                </div>
                                <span class="form-control-feedback glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>
                            <!-- 查询 -->
                            <div class="col-sm-2">
                                <button class="btn btn-query" type="submit">查询</button>
                                <button class="btn btn-operate tiptip" id="exportBtn" type="button" title="需选定起止日期才可导出文件">导出</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <present name="errMsg">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-danger">{$errMsg}</p>
            </div>
        </div>
    <else />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="divChart" class="stat-chart"></div>
                        <div class="text-center div-button-sel">
                            <foreach name="titleLink" item="vo" key="k">
                                <a href="#" class="btn btn-sm btn-default dataButton" data-items="{$k}">
                                    {$vo}
                                </a> &nbsp;
                            </foreach>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>日期</th>
                                        <th class="text-info">
                                            <span class="tiptip" title="创建了房间并开始行牌（包括第一局未打完没有钻石消耗的情况）">开局次数
                                            </span>
                                        </th>
                                        <th class="text-info">
                                            <span class="tiptip" title="至少完成了一局的房间（一定存在钻石消耗）">成功开局次数
                                            </span>
                                        </th>
                                        <th class="text-info">
                                            <span class="tiptip" title="当日所有4人房的成功开局次数">4人局次数
                                            </span>
                                        </th>
                                        <th class="text-info">
                                            <span class="tiptip" title="当日所有3人房的成功开局次数">3人局次数
                                            </span>
                                        </th>
                                        <th class="text-info">
                                            <span class="tiptip" title="当日所有2人房的成功开局次数">2人局次数
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="v">
                                        <tr>
                                            <td>{$key|date="Y-m-d", ###}</td>
                                            <td>{$v.createCount}</td>
                                            <td>{$v.createAccessCount}</td>
                                            <td>{$v.fourCount}</td>
                                            <td>{$v.threeCount}</td>
                                            <td>{$v.twoCount}</td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                            {$pagination}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>数据统计规则：<br />
                <strong>开局次数：</strong>创建了房间并开始行牌（包括第一局未打完没有钻石消耗的情况）<br />
                <strong>成功开局次数：</strong>至少完成了一局的房间（一定存在钻石消耗）<br />
                <strong>4人局次数：</strong>当日所有4人房的成功开局次数<br />
                <strong>3人局次数：</strong>当日所有3人房的成功开局次数<br />
                <strong>2人局次数：</strong>当日所有2人房的成功开局次数<br />
            </p>
        </footer>
    </present>
</div>

<script>
var query = {:json_encode($query)};
var chartData = {:json_encode($chartData)};
</script>

<js href="/Public/Lib/bootstrap-datepicker-1.7.1/js/bootstrap-datepicker.min.js" />
<js href="/Public/Lib/bootstrap-datepicker-1.7.1/locales/bootstrap-datepicker.zh-CN.min.js" />
<js href="/Public/Lib/tiptip-1.3/jquery.tipTip.minified.js" />
<js href="/Public/Lib/echarts-4.1.0/dist/echarts.min.js" />
<js href="/Public/Js/stat/game-room-number.js" />
