
<css href="/Public/Lib/bootstrap-datetimepicker-2.4.4/css/bootstrap-datetimepicker.min.css" />
<js href="/Public/Lib/bootstrap-datetimepicker-2.4.4/js/bootstrap-datetimepicker.min.js" />
<js href="/Public/Lib/bootstrap-datetimepicker-2.4.4/js/locales/bootstrap-datetimepicker.zh-cn.js" />
<div class="header">
    <h1 class="page-header">新年拉新</h1>
</div>
<div id="page-inner">
    <present name="errMsg">
        <div class="row">
            <div class="col-sm-12 well">
                <p class="text-danger">{$errMsg}</p>
            </div>
        </div>
        <else />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label request">起始时间</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="starttime" name="starttime" type="text" value="{$starttime}" />
                                    <span class="form-control-feedback glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label request">结束时间</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="endtime" name="endtime" type="text" value="{$endtime}" />
                                    <span class="form-control-feedback glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">活动是否结束</label>
                                <div class="col-sm-3">
                                    <label class="radio-inline">
                                        <input type="radio" name="status" value="1" onclick="activeClick(1);" {$active1} /> 开启
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="status" value="0" onclick="activeClick(0);" {$active0}/> 结束
                                    </label>
                                </div>
                            </div>
                            <div class="table-responsive" id="inviteConf">
                                <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                    <thead>
                                        <tr role="row"><th>编号</th><th>需邀请人数</th><th>奖励类型</th><th>奖励数量</th>
                                            <th class='fixed-width-td'><button class="btn btn-success btn-sm" type="button" name="btnOpe" onclick="return addInviteConf();">添加</button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="vo">
                                        <tr><td name="no">{$vo.no}</td><td><input class="form-control" type="text" name="event_num" value='{$vo.event_num}'></td>
                                            <td>
                                                <select class="form-control" name="reward_type1">
                                                    <!--<option value="0">无</option>-->
                                                    <foreach name="inviteRewardTypeMap" item="v">
                                                        <option value="{$key}" <php>echo $vo['reward_type1']==$key?'selected':''</php>>{$v}</option>
                                                    </foreach>
                                                </select>
                                            </td>
                                            <td><input class="form-control" type="text" name="reward_val1" value='{$vo.reward_val1}'></td>
                                            <td><button class="btn btn-sm btn-danger btn-del" type="button" name="btnOpe" onclick="return delInviteConf(this);">删除</button></td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                            <present name="invitefrdFlag">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">&nbsp;</label>
                                    <button class="btn btn-success" id="btnSave" type="button" onclick="return saveInviteidConf();">保存</button>
                                </div>
                            </present>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </present>
</div>
<script>
    var reward_type = {:json_encode($inviteRewardTypeMap)};
    var activing = {:intval($activing)};
    $(document).ready(function() {
        $("input[name=starttime]").datetimepicker({
            language: "zh-CN",
            autoclose: true,
            clearBtn: true,
            //endDate: new Date(),//new Date(new Date().valueOf() - 24 * 3600 * 1000),
            //todayBtn: true,
            format: "yyyy-mm-dd hh:ii:00"
        });
        $("input[name=endtime]").datetimepicker({
            language: "zh-CN",
            autoclose: true,
            clearBtn: true,
            //endDate: new Date(),//new Date(new Date().valueOf() - 24 * 3600 * 1000),
            format: "yyyy-mm-dd hh:ii:00"
        });
        displaywin();
    });
    function activeClick(val) {
        if (activing) {
            if (val) {
                $('#btnSave').prop('disabled', true);
            } else {
                $('#btnSave').prop('disabled', false);
            }
        }
    }
    function displaywin() {
        if (activing) { // 活動進行中，進制修改配置
            $('#starttime').prop('disabled', true);
            $('#endtime').prop('disabled', true);
            $('[name=btnOpe]').prop('disabled', true);
            $('#btnSave').prop('disabled', true);
        } else {
            $('#starttime').prop('disabled', false);
            $('#endtime').prop('disabled', false);
            $('[name=btnOpe]').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
        }
    }
    function saveInviteidConf() {
        var data = {};
        data.type = 'reward';
        data.conf = [];
        var stime = data.starttime = $("#starttime").val();
        var etime = data.endtime = $("#endtime").val();
        if (stime == "") {
            $.zmsg.error("必须选择起始日期");
            return false;
        } 
        if (etime == "") {
            $.zmsg.error("必须选择结束时间");
            return false;
        }
        if (stime) {
            stime = Date.parse(new Date(stime));
            stime = stime / 1000;
        }
        if (etime) {
            etime = Date.parse(new Date(etime));
            etime = etime / 1000;
        }
        if (stime >= etime) {
            $.zmsg.error("结束时间必须大于开始时间");
            return false;            
        }
        data.status = $("input[name=status]:checked").val();
        var tipinfo = [];
        var invalid = false;
        var tbody = $('#inviteConf').find('tbody');
        if (tbody) {
            tbody.children('tr').each(function(i) {
                var obj = {};
                obj.event_num = $(this).find('[name=event_num]').val();
                obj.type1 = $(this).find('[name=reward_type1]').val();
                obj.val1 = $(this).find('[name=reward_val1]').val();
                obj.type2 = $(this).find('[name=reward_type2]').val();
                obj.val2 = $(this).find('[name=reward_val2]').val();
                obj.type3 = $(this).find('[name=reward_type3]').val();
                obj.val3 = $(this).find('[name=reward_val3]').val();
                obj.type4 = $(this).find('[name=reward_type4]').val();
                obj.val4 = $(this).find('[name=reward_val4]').val();
                obj.type5 = $(this).find('[name=reward_type5]').val();
                obj.val5 = $(this).find('[name=reward_val5]').val();
                data.conf.push(obj);
                if (obj.event_num == '' || obj.val1 == '') {
                    $.zmsg.error("配置不能为空");
                    invalid = true;
                    return false;
                }
                var reg = /^[0-9]*$/;
                if (!reg.test(obj.event_num) || parseInt(obj.event_num) <= 0) {
                    $.zmsg.error("需邀请人数必须为整数且数值大于0");
                    invalid = true;
                    return false;
                }
                if (!reg.test(obj.val1) || parseInt(obj.val1) <= 0) {
                    $.zmsg.error("奖励数量必须为整数且数值大于0");
                    invalid = true;
                    return false;
                }
                tipinfo.push({num: obj.event_num, type1: $(this).find('[name=reward_type1] option:checked').text(), val1: obj.val1});
            });
        }
        if (invalid)
            return false;
        if (data.conf.length <= 0) {
            $.zmsg.error("邀请好友奖励至少需要1个");
            return false;
        }
        if (data.conf.length > 40) {
            $.zmsg.error("邀请好友奖励最多40个");
            return false;
        }
        
        var tinfo = [];
        tinfo.push({title: '起始时间', value: data.starttime});
        tinfo.push({title: '结束时间', value: data.endtime});
        tinfo.push({title: '活动是否开启', value: (data.status==1?'开启':'结束')});
        var tip = '<table style="width: 80%; margin: auto;">';
        for (var idx = 0; idx < tinfo.length; idx++) {
            tip += '<tr class="text-danger"><td class="text-success">'+tinfo[idx].title+'</td><td>'+tinfo[idx].value+'</td></tr>';
        }
        tip += '</table>';
        tip += '<div style="height:20px;"></div>';
        tip += '<table style="width: 80%; margin: auto;">';
        tip += '<tr class="text-danger"><th class="text-success">需邀请人数</th><th class="text-success">奖励类型</th><th class="text-success">奖励数量</th></tr>';
        for (var idx = 0; idx < tipinfo.length; idx++) {
            tip += '<tr class="text-danger"><td>'+tipinfo[idx].num+'</td><td>'+tipinfo[idx].type1+'</td><td>'+tipinfo[idx].val1+'</td></tr>';
        }
        tip += '</table>';
        $.Zebra_Dialog(tip, {
            'title': '更改配置确认',
            'animation_speed_show': 500,
            'center_buttons': true,
            'type': '',
            'buttons': ['取消', '确定'],
            'onClose': function(caption) {
                if ('取消' == caption) {
                } else if ('确定' == caption) {
                    $.loading.show("saveConfLoading");
                    $.ajax({
                        url: "/Gameconf/ajaxSaveActInviteConf",
                        type: "POST",
                        data: data,
                        dataType: "json",
                        success: function(data) {
                            $.loading.hide('saveConfLoading');
                            if (0 == data.code) {
                                $.zmsg.success('/Gameconf/project/third/proactinvitefrd');//$.zmsg.info('保存成功');
                            } else {
                                $.zmsg.error(data.msg);
                            }
                        },
                        error: function(data) {
                            $.loading.hide('saveConfLoading');
                            $.zmsg.fatal(data.responseText);
                        }
                    });
                }
            }
        });
        return false;
    }
    function addInviteConf() {
        var tbody = $('#inviteConf').find('tbody');
        if (tbody) {
            var num = tbody.children('tr').length+1;
            var html = '<tr><td name="no">'+num+'</td><td><input class="form-control" type="text" name="event_num"></td>';
            var optiontext = '';
            for (var k in reward_type) {
                if (reward_type.hasOwnProperty(k)) {
                    optiontext += '<option value="'+k+'">'+ reward_type[k]+'</option>';                  
                }
            }
            for (var i = 1; i <= 1; i++) {  //5
                html += '<td><select class="form-control" name="reward_type'+i+'">'+//<option value="0">无</option>
                    optiontext+'</select></td>'+
                    '<td><input class="form-control" type="text" name="reward_val'+i+'" value=""></td>';
            }
            html += '<td><button class="btn btn-sm btn-danger btn-del" type="button" onclick="return delInviteConf(this);">删除</button></td>';
            tbody.append(html);
        }
    }
    function delInviteConf(obj) {
        var target = $(obj).closest('tr');
        if (target)
            target.remove();
        var tbody = $('#inviteConf').find('tbody');
        if (tbody) {
            tbody.children('tr').each(function(i) {
                $(this).find('[name=no]').html(i+1);
            });
        }
    }
</script>
